body {
    background-image: linear-gradient(to right, #051937, #002265, #002993, #002ac1, #121ceb);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 90vh;
}

form{
    display: flex;   
    justify-content: center;
    padding: 30px;
    background-color: none;
    flex-wrap: wrap;
    
}

input {
    font-family: 'Poppins', sans-serif;
    color: #F8EBFF;
    background-color: #00A3FF;
    border: none;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: 5px;
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
    overflow-y: hidden;

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
  }

input::placeholder{
    color: #F8EBFF;
    font-family: 'Poppins', sans-serif;
    

}

button {
    font-family: 'Poppins', sans-serif;
    color: #F8EBFF;
    background-color: #00A3FF;
    border: none;
    width: 300px;
    margin: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

body ul {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
    white-space: wrap;
   font-size: 25px;
   border: #8070A2 solid 8px;
   justify-content: center;
   align-content: center;
   text-align: center;
   
   padding-left: 15px;
   padding-right: 15px;

}

body ul li {
    text-decoration: none;
    margin-bottom: 30px;
    width: 210px;
    height: 150px;
    color: #F8EBFF;
    
}